.character__card{
  &--link{
    text-decoration: none;
  }

  &--image{
    width: 90%;
    border-radius: 10px;
    &-container{
      padding: 20px 0;

    }
  }
  &--name{
    border-top: 4px solid $fontPrimaryColor;
    border-bottom: 4px solid$fontPrimaryColor;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color:$fontPrimaryColor;
  }
  &--species{
    text-transform: uppercase;
    list-style: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    color: $fontPrimaryColor;
  }
}

