/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #1e1e1e;
  --blue: #14d9c4;
  --darkblue: #099d8d;
  --orange: #d96314;
  --almostwhite: #d1d1d1;
  --monospace: "Inconsolata", monospace;
}

* {
  color: #d1d1d1;
  font-family: "Rubik", "Roboto", sans-serif;
  font-size: 18px;
}

body {
  padding: 20px;
  background-color: var(--background);
}

pre,
.monospaced {
  font-family: var(--monospace);
}

main {
  padding: 20px;
  color: #ddd;
}

footer {
  margin-top: 3em;
}
footer h3,
footer li,
footer a {
  font-size: 12px;
  list-style: none;
  color: #aaa;
}
 */
