// primary colors
$fontPrimaryColor: rgb(71, 8, 95);
$fontSecondaryColor: white;
$primaryColor: black;
$secondaryColor: #3d373c;
$tertiaryColor: rgb(118, 161, 145);
$quaternaryColor: rgb(9, 236, 160);